{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "react-hooks/exhaustive-deps": "off",
        "no-template-curly-in-string": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "quotes": ["error", "single"],
        "jsx-quotes": ["error", "prefer-single"]
    }
}
